
.Home {
  padding: 20px 0;
}

 h1{
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
 }

 .h1, h1 {
  font-size: 2.5rem!important;
}
 
.form-label{
  margin-bottom: 0.5rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-success {
  color: #fff!important;
  background-color: #28a745!important;
  border-color: #28a745!important;
}

.Home .card {
  margin-bottom: 20px;
}

.Cat {
  padding: 20px 0;
}

@media (min-width: 1200px)
{
  .container {
    max-width: 1140px;
  }
}


@media (min-width: 1200px){
  .container {
    max-width: 720px;
  }
}

@media (min-width: 576px){
  .container {
    max-width: 540px;
  }
}

@media (min-width: 992px){
  .container {
    max-width: 960px;
  }
}
